<!doctype html>
<html lang="en">
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title %> | acburdine.me</title>

    <link href="https://fonts.googleapis.com/css?family=Muli:300,300i,700" rel="stylesheet">
    <%= stylesheet_link_tag "site" %>
  </head>

  <body class="<%= page_classes %>">
    <header class="main-header container-fluid">
      <%# Index Navigation -> bit more complicated than normal navigation %>
      <% if current_page.path == 'index.html' %>
        <nav class="index-nav">
          <div class="row align-items-center">
            <div class="col-sm-2 col-md-5 offset-md-1">
              <a class="site-logo" href="/">{<span class="short">ab</span>}</a>
            </div>

            <%# <div class="col-sm-10 col-md-6">
              <ul class="row align-items-center justify-content-end nav-ul">
                <%= page_link('about', '/about/', 'col-sm-2') %>
                <%#= page_link('portfolio', '/portfolio/', 'col-sm-2') %>
                <%#= page_link('resume', '/resume/', 'col-sm-2') %>
                <%#= page_link('contact', '/contact/', 'col-sm-2') %>
              <%#</ul>
            </div>%>
          </div>
        </nav>

      <% end %>
    </header>

    <main>
      <%= yield %>
    </main>

    <%= javascript_include_tag "site" %>
  </body>
</html>
